<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @cliente.nome %>
</p>

<p>
  <b>Sobrenome:</b>
  <%= @cliente.sobrenome %>
</p>

<p>
  <b>Data:</b>
  <%= @cliente.data %>
</p>


<%= link_to 'Editar', edit_cliente_path(@cliente) %> |
<%= link_to 'Voltar', clientes_path %>
