<p id="notice"><%= notice %></p>

<p>
  <b>Nome:</b>
  <%= @galerium.nome %>
</p>

<p>
  <b>Data:</b>
  <%= @galerium.data %>
</p>


<%= link_to 'Editar', edit_galerium_path(@galerium) %> |
<%= link_to 'Voltar', galeria_path %>
